/*Add your CSS here*/
* {
  background-color: rgb(46, 112, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier;
}

p {
  font-size: 18px;
  text-align: center;
}

.caption {
  font-size: 30px;
  text-align: center;
  font-style: italic; 
  color:aqua
}

h1 {
  font-size: 50px;
  color: rgb(0, 229, 255);
}

h2 {
  font-size: 30px;
  color:rgb(145, 196, 68); 
}

img {
  width: 100vw;
  height: auto;
}

nav {
  font-size: 20px;
}

nav a:hover {
    color: white;
  }

nav a:visited {
  color: black;
  }

nav a:active {
    color: green;
  }

nav a:link {
  color: blue;
}

footer a:hover {
  text-decoration: none;
}






/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}