/*Add your CSS here*/
* {
  background-color: rgba(141, 255, 65, 0.311);
  margin: 0;
  padding: 0;
  font-size: medium;
  font-family: Courier;
}

p {
text-align: center;
}

h1 {
  color:aquamarine
}

h2 {
  color:rgb(69, 94, 32) 
}

img {
  width: 100%;
  height: auto;
}

footer a:hover {
text-decoration: none;
}






/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}